@font-face {
	font-family: 'panel_metromorph';
	src:url($theme_name + '/icons/fonts/panel_metromorph.eot?-qows8w');
	src:url($theme_name + '/icons/fonts/panel_metromorph.eot?#iefix-qows8w') format('embedded-opentype'),
		url($theme_name + '/icons/fonts/panel_metromorph.woff?-qows8w') format('woff'),
		url($theme_name + '/icons/fonts/panel_metromorph.ttf?-qows8w') format('truetype'),
		url($theme_name + '/icons/fonts/panel_metromorph.svg?-qows8w#panel_metromorph') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"],
	.icon-reload, .icon-refresh, .icon-reset, .icon-close, .icon-search, .icon-cogs, .icon-save, .icon-cancel, .icon-gear, .icon-camera, .icon-help, .icon-bell, .icon-pencil, .icon-location-2, .icon-coin, .icon-globe, .icon-last-update, .icon-sorter-asc, .icon-sorter-group, .icon-remove, .icon-eye-open, .icon-plus, .icon-location, .icon-user, .icon-legal-entity, .icon-sole-trader, .icon-lightning, .icon-light, .icon-close2
    {
	font-family: 'panel_metromorph';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-reload:before {
	content: "\e900";
}
.icon-refresh:before {
	content: "\e900";
}
.icon-reset:before {
	content: "\e900";
}
.icon-close:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e600";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-save:before {
	content: "\e03e";
}
.icon-cancel:before {
	content: "\e03f";
}
.icon-gear:before {
	content: "\e041";
}
.icon-camera:before {
	content: "\e042";
}
.icon-help:before {
	content: "\e044";
}
.icon-bell:before {
	content: "\e02c";
}
.icon-pencil:before {
	content: "\e01e";
}
.icon-location-2:before {
	content: "\e01b";
}
.icon-coin:before {
	content: "\e016";
}
.icon-globe:before {
	content: "\e007";
}
.icon-last-update:before {
	content: "\e005";
}
.icon-sorter-asc:before {
	content: "\e031";
}
.icon-sorter-group:before {
	content: "\e033";
}
.icon-remove:before {
	content: "\e036";
}
.icon-eye-open:before {
	content: "\f06e";
}
.icon-plus:before {
	content: "\e00c";
}
.icon-location:before {
	content: "\e00e";
}
.icon-user:before {
	content: "\e01a";
}
.icon-sole-trader:before {
    content: "\e602";
}
.icon-legal-entity:before {
    content: "\e603";
}
.icon-lightning:before {
	content: "\e054";
}
.icon-light:before {
	content: "\e05e";
}
.icon-close2:before {
	content: "\e011";
}
