.idea/*
app/api/_proxy/*
theme/panel_metromorph/.sass-cache/*
ext

build
node_modules
theme/
PConfig.js
Config.js


.tx/config
VERSION
translation_cache
stickers/
.sass-cache
syntax: regexp
^ext/
^transifex/

*.sublime-*

