.idea/*
app/api/_proxy/*
theme/panel_metromorph/.sass-cache/*
ext
.DS_Store

build
node_modules
theme/panel_metromorph.css
theme/panel_metromorph_ie.css
theme/panel_metromorph_id-blessed1.css
PConfig.js
Config.js


.tx/config
VERSION
translation_cache
stickers/
.sass-cache
syntax: regexp
^ext/
^transifex/

*.sublime-*


theme/panel_metromorph_ie-blessed1\.css
