body {
    background-color: $baseBackgroundColor;
    overflow-y: scroll !important;
}

a, .link {
    color: $link;
    outline: none medium;
    text-decoration: none;
    cursor: pointer !important;
}

.x-tip-body-default {
    padding: 5px 10px;
}

.x-datepicker-cell .x-hide-clip {
    display: none;
}

.x-datepicker {
    .x-datepicker-inner {
        border-width: 0 1px;
        border-color: #818491;
        border-style: solid;
    }

    .x-datepicker-inner thead tr:first-child th:last-child,
    .x-datepicker-inner thead tr:first-child th:first-child {
        width: 31px
    }
}

.beta-ribon {

    position: absolute;
    right: 0;
    top: 60px;
    width: 62px;
    height: 62px;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: none;

    background-size: cover;
    background-image: url(#{$img_dir}/util/beta_ribon.png);
}

.auth-header {
    background-color: $baseBackgroundColor !important;
    font-size: 20px;
    text-align: center;
}