body {
    background-color: $baseBackgroundColor;
    overflow-y: scroll !important;
}

a, .link {
    color: $link;
    outline: none medium;
    text-decoration: none;
    cursor: pointer !important;
}

.x-tip-body-default {
    padding: 5px 10px;
}

.x-datepicker-cell .x-hide-clip {
    display: none;
}