$light-field-label-color: $baseFontColor;
$light-field-label-font-size: 13px;
$light-field-border-color: $baseBorderColor;
$light-field-focus-border-color: $main-color;

.x-form-trigger-input-cell {
    .field-postfix {
        color: $grayDarker;
    }
}

.x-field-light, .x-field-light.x-item-disabled, .x-container-light {

    .x-form-cb-label {
        padding-left: 10px;
        color: $light-field-label-color;
    }

    .x-form-trigger-wrap {
        border: 1px solid $light-field-border-color;

    }

    &.second_trigger {
        .x-form-trigger-wrap {
            border-left-width: 0px;
        }
    }

    .x-form-trigger-wrap-focus .x-form-trigger-wrap {
        border-color: $light-field-focus-border-color;
    }

    .x-form-item-label {
        font-size: $light-field-label-font-size;
        line-height: $light-field-label-font-size + 15;
        color: $light-field-label-color;
    }

    .x-form-field {
        border-color: $light-field-border-color;
    }

    .x-form-focus {
        border-color: $light-field-focus-border-color;
    }

    .x-form-invalid-field {
        border-color: $invalid-color !important;
    }

    .x-form-invalid-under {
        padding: 2px 2px 5px 5px;
        color: $invalid-color;
        font-size: $light-field-label-font-size - 2;
        line-height: $light-field-label-font-size + 3;

    }

    &.x-field-light.x-item-disabled {
        opacity: 1;

        .x-form-text {
            border: 0;
            background-color: transparent;
        }

        .x-form-cb-wrap {
            opacity: 0.5;
        }

        .x-form-trigger-wrap {
            border: 0;
            background-color: transparent;

            .x-trigger-cell {
                display: none
            }
        }
    }
}

.x-form-checkboxgroup.x-item-disabled {
    opacity: 1;

    .x-form-item-body {
        opacity: 0.7;
    }
}

.x-form-file-wrap {
    background-color: transparent;
}

.settings-disabled.x-item-disabled input {
    border: 1px solid silver !important;
    color: #818491;
}
.settings-combo-disabled.x-item-disabled {
    opacity: 1 !important;
    color: #818491;
}