$card-font-size: 13px;
$card-header-font-color: $baseFontColor;

$card-header-title-font-size: $card-font-size + 2;
$card-header-title-font-weight: 600;

$card-header-table-font-color: $card-header-font-color;
$card-header-table-title-font-color: lighten($card-header-table-font-color, 30%);

$card-links-bg-color: lighten($baseBackgroundColor, 1%);
$card-links-collapser-bg-color: lighten($baseBackgroundColor, 5%);

$card-body-bg-color: lighten($baseBackgroundColor, 4%);
$card-body-right-td-bg-color: lighten($baseBackgroundColor, 2%);

.content-table {
    border-spacing: 0;

    td {
        padding: 3px;
    }

    td:first-child {
        color: $card-header-table-title-font-color;
    }

    td:first-child + td {
        color: lighten($card-header-table-font-color, 50%);
        &:after {
            content: ':';
        }
    }

    td:first-child + td + td {
        padding-left: 15px;
    }

    td.status {
        &.no {
            color: $invalid-color
        }
        &.not {
            color: $green
        }
    }

    span.pre_note {
        width: 60px;
        display: inline-table;
    }

    span.note {
        color: $smoke;
        cursor: pointer;
        border-bottom: 1px dashed $smoke;
    }
}

.content-table.body-table {
    background-color: $card-body-bg-color;

    td {
        padding: 5px;
        vertical-align: top;
    }

    td:first-child {
        color: $card-header-table-title-font-color;
        width: 50%;
        text-align: right;
    }

    td:first-child + td {
        color: lighten($card-header-table-font-color, 50%);
        &:after {
            content: ':';
        }
    }

    td:first-child + td + td {
        padding-left: 5px;
        width: 50%;
        padding-left: 15px;
        background-color: $card-body-right-td-bg-color;
    }

    &.single {
        td:first-child {
            width: 30%;
            text-align: right;
        }

        td:first-child + td + td {
            width: 70%;
        }
    }
}

.card-header-inner {
    color: $card-font-size;
    font-size: $card-header-font-color;

    .title {
        font-size: $card-header-title-font-size;
        font-weight: $card-header-title-font-weight;
        padding: 0 0 10px 0;
        color: #4b4b4b !important;

        .title-add {
            font-weight: normal;
            margin-left: 15px;
        }
    }

    .sub_title {
        color: #4b4b4b !important;
        font-weight: bold;
    }

    span.icon {
        margin-right: 5px;
        font-size: 10px;
        color: $smoke;

        &.sole_trader {
            @extend .icon-sole-trader;
        }
        &.individual {
            @extend .icon-user;
        }
        &.legal_entity {
            @extend .icon-legal-entity;
        }
    }
}

.card-body-inner {
    .title {
        font-size: $card-font-size + 1;
        padding: 3px 20px 5px;
    }
}

.links-panel {
    background-color: $card-links-bg-color;
}

.body-collapser {
    font-size: $card-font-size + 2;
    cursor: pointer;

    background: url($img_dir + '/tools/collapse.png') no-repeat 15px 55% $card-links-collapser-bg-color;;

    &.active {
        background-image: url($img_dir + '/tools/expand.png');
    }
}

.options-table {
    background-color: $card-body-bg-color;
    padding: 5px;

    table {
        width: 100%
    }

    td.x-table-layout-cell {
        padding: 5px;
        vertical-align: middle;

        &.form-cell {
            padding: 1px 0;
        }

        &.right-align {
            text-align: right;
        }

        &.disabled {
            color: $card-header-table-title-font-color;
            text-decoration: line-through;
        }

        &.hint {
            color: $card-header-table-title-font-color;
            font-size: $card-font-size - 1;
        }

        &.sub_title {
            color: $baseFontColor !important;
            font-weight: bold;
        }


        &.dots:after {
            content: ':';
        }
    }
}

.links-collapser {
    position: absolute;
    padding: 10px !important;
    width: 0 !important;
    top: 0 !important;
    right: 0 !important;
    left: auto !important;

    background: url($img_dir + '/tools/arrow-right.png') no-repeat 50% 50% $card-links-collapser-bg-color;;

    opacity: 0.7;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &.active {
        background-image: url($img_dir + '/tools/arrow-left.png');
    }
}

.form-img {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    color: $grayLight;
    cursor: pointer;

    &:hover {
        border-color: $main-color;
    }
}

.shadow-disabled {
    opacity: 0.8;
}


.card-editor {

    .x-form-type-checkbox.shadow {
        a {
            text-decoration: underline;
        }
        &.x-item-disabled {
            .x-form-checkbox {
                background-position: 0 -30px;
            }
            .x-form-cb-label {
                color: lighten($baseFontColor, 40%);
            }
            &.x-form-cb-checked {
                .x-form-checkbox {
                    background-position: 0 -45px;
                }
                .x-form-cb-label {
                    color: $baseFontColor;
                }
            }
        }
    }

    .header-table {
        border-spacing: 0;

        td.x-table-layout-cell  {
            padding: 3px;

            &.form-cell {
                padding: 1px 0;

                .x-item-disabled {
                    opacity: 1 !important;
                    .x-form-field {
                        padding: 1px 5px;
                    }
                }
                .x-form-item-body {
                    opacity: 1 !important;
                }
            }

            &.strong-height {
                height: 30px;
            }

            &:first-child {
                color: $card-header-table-title-font-color;
            }

            &:first-child + td {
                color: lighten($card-header-table-font-color, 50%);
                &:after {
                    content: ':';
                }

                &.no_dots {
                    height: $card-header-title-font-size;
                    &:after {
                        content: '';
                    }
                }
            }

            &:first-child + td + td {
                padding-left: 15px;
            }

            &.status {
                &.no {
                    color: $invalid-color
                }
            }
        }


        span.pre_note {
            width: 60px;
            display: inline-table;
        }

        span.note {
            color: $smoke;
            cursor: pointer;
            border-bottom: 1px dashed $smoke;
        }
    }

    .options-table {
        background-color: darken($card-body-bg-color, 2%);
        padding: 5px;

        table {
            width: 100%
        }

        td.x-table-layout-cell {
            padding: 5px;
            vertical-align: middle;

            &.form-cell {
                padding: 1px 0;

                .x-item-disabled {
                    opacity: 1 !important;
                    .x-form-field {
                        padding: 1px 5px;
                    }
                }
                .x-form-item-body {
                    opacity: 1 !important;
                }
            }

            &.strong-height {
                height: 30px;
            }

            &.right-align {
                text-align: right;
            }

            &.disabled {
                color: $card-header-table-title-font-color;
                text-decoration: line-through;
            }

            &.hint {
                color: $card-header-table-title-font-color;
                font-size: $card-font-size - 1;
            }

            &.sub_title {
                color: $baseFontColor !important;
                font-weight: bold;
            }


            &.dots:after {
                content: ':';
            }
        }
    }

    .card-header-inner {
        color: $card-font-size;
        font-size: $card-header-font-color;

        .title {
            font-size: $card-header-title-font-size;
            font-weight: $card-header-title-font-weight;
            padding: 0 0 10px 0;
            color: $baseFontColor !important;
            height: 30px;

            .title-add {
                font-weight: normal;
                margin-left: 15px;
            }
        }

        .sub_title {
            color: $baseFontColor !important;
            font-weight: bold;
        }

        span.icon {
            margin-right: 5px;
            font-size: 10px;
            color: $smoke;

            &.sole_trader {
                @extend .icon-sole-trader;
            }
            &.individual {
                @extend .icon-user;
            }
            &.legal_entity {
                @extend .icon-legal-entity;
            }
        }
    }

    .card-body-inner {
        .title {
            font-size: $card-font-size + 1;
            padding: 3px 20px 5px;
        }
    }

    .links-panel {
        background-color: $card-links-bg-color;
    }

    .body-collapser {
        font-size: $card-font-size + 2;
        font-weight: bold;
        cursor: pointer;

        background: url($img_dir + '/tools/collapse_b.png') no-repeat 13px 12px darken($card-body-bg-color, 2%);;

        a {
            font-weight: normal;
        }
        &.active {
            background-image: url($img_dir + '/tools/expand_b.png');
        }
    }

    .links-collapser {
        position: absolute;
        padding: 10px !important;
        width: 0 !important;
        top: 0 !important;
        right: 0 !important;
        left: auto !important;

        background: url($img_dir + '/tools/arrow-right.png') no-repeat 50% 50% $card-links-collapser-bg-color;;

        opacity: 0.7;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &.active {
            background-image: url($img_dir + '/tools/arrow-left.png');
        }
    }

    .form-img {
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        color: $grayLight;
        cursor: pointer;

        &:hover {
            border-color: $main-color;
        }
    }
}

