$defaultSizeFormBtnIcon: 16px;

@mixin glyph-button {
    left: 2px;
    color: $white;
    font-size: $defaultSizeFormBtnIcon;
}

.x-btn-default-toolbar-small-icon-text-left {
    padding-left: 2px;
    .x-btn-inner {
        line-height: $defaultSizeFormBtnIcon + 4;
        padding-left: $defaultSizeFormBtnIcon + 8;
    }
}

.x-btn-default-toolbar-medium-icon-text-left .x-btn-icon-el {
    line-height: $defaultSizeFormBtnIcon + 4;
}

.add-button {
    @extend .icon-plus;
    @include glyph-button;
}

.options-button {
    @extend .icon-gear;
    @include glyph-button;
}

.x-btn-arrow-right {
    display: block;
}

.edit-button {
    @extend .icon-pencil;
    @include glyph-button;
}

.reload-button {
    @extend .icon-last-update;
    @include glyph-button;
}

.remove-button {
    @extend .icon-remove;
    @include glyph-button;
}

.show-empty-button {
    @extend .icon-eye-open;
    @include glyph-button;
}

.select-all-button {
    .checkbox {
        &.x-btn-icon-el {
            background-position: 0 0;
        }

        width: 15px !important;
        height: 15px !important;
        @extend .x-form-checkbox;
    }

    &.x-checked {
        .checkbox {
            background-position: 0 -15px;
        }
    }
}

.transparent {
    background-color: transparent;
}

.x-tool.gear {
    @extend .base-font-color-active;
    @extend .icon-cogs;
    font-size: 18px;
    opacity: 0.6;
}

.x-tool.help-tool {
    @extend .base-font-color-active;
    @extend .icon-help;
    font-size: 18px;
    opacity: 0.6;
}

.x-tool.delete {
    @extend .base-font-color-active;
    @extend .icon-remove;
    font-size: 16px;
    padding-left: 4px;
    opacity: 0.6;
}
