.subscription_hint {
    font-size: 11px;
    color: $gray;
}

.avangate-subscription-panel {
    .loader {
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px;
        background-size: 100%;
        background-image: url($img_dir + '/grid/loading.gif');
    }
}

.light-fieldset {
    background-color: $white;
    border: 1px solid $grayLighter;
}

.smtp-gate-panel {
    .x-panel-body {
        background-color: $white;
    }
    .gate-deafult-from {
        color: $smoke;
        padding-left: 5px;
    }
    .gate_hint {
        padding-left: 30px;
        font-size: 12px;
        line-height: 15px;
        max-width: 500px;
        margin-top: 5px;
        a {
            color: $main-color;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

.x-boundlist-item-disabled {
    padding: 0 6px;
    line-height: 22px;
    cursor: default;
    position: relative;
    zoom: 1;
    border-width: 1px;
    border-style: dotted;
    border-color: white;
    color: $grayLight;

    .warning {
        color: $invalid-color;
        margin-left: 10px;
    }
}

.x-boundlist-item.hidden {
    display: none;
}

.map-type-checkbox {
    &.x-item-disabled {
        opacity: 1;

        input {
            opacity: 0.4;
        }
        label {
            color: $grayer;

            span {
                opacity: 1;
            }
        }
    }

    .checkbox-invalid-tip {
        color: $orange
    }
}

.free_days_device_limit.x-item-disabled {
    input::-webkit-input-placeholder {
        color: #333;
    }
    input::-moz-placeholder {
        color: #333;
    }
    /* Firefox 19+ */
    input:-moz-placeholder {
        color: #333;
    }
    /* Firefox 18- */
    input:-ms-input-placeholder {
        color: #333;
    }
}

.slidable-panel {
    background-color: $baseElementActiveColor;
    position: fixed;
    z-index: 101;
    bottom: 0;
    right: 0;
    &.right {
        right: 0;
    }
    &.left {
        right: auto;
        left: 0;
    }

    color: $baseElementActiveColor;
    @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23));

    &.activation-panel {
        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    }
}

.tracker-settings-window {
    iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
}

.message-box-with-alert {
    font: normal 14px "Open Sans", helvetica, arial, verdana, sans-serif;
    color: white;

    .x-toolbar-footer {
        padding: 5px 0 15px !important;
    }

    .message-box {
        overflow: hidden;
        margin-bottom: 30px;
        font: normal 14px "Open Sans", helvetica, arial, verdana, sans-serif;
        color: white;

        .x-message-box-warning {
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            width: 30px;
            height: 30px;
        }

        .x-message-warning {
            text-align: center;
            margin-left: 30px;
        }
    }

    .x-form-item, .x-form-field {
        font-size: 14px;

        .x-form-cb {
            margin-top: 2px;
        }

        .x-form-cb-label, .x-form-cb-wrap {
            line-height: 20px;
        }
    }
}

$theme-item-width: 133px;
$theme-app-item-width: 79px;
$theme-item-height: 40px;
$theme-item-border-width: 2px;
$theme-item-border-radius: 3px;
$theme-item-padding: 6px;
$theme-selected-color: #E0E0E0;
$theme-hover-color: $main-color;

.x-mobile-theme-picker {

    .x-color-picker-item {
        height: $theme-item-height + $theme-item-padding * 2 + $theme-item-border-width * 2;
        width: $theme-app-item-width + $theme-item-padding * 2 + $theme-item-border-width * 2;

        box-sizing: border-box;
        display: inline-block;
        float: left;

        background-color: transparent;
        cursor: pointer;
        padding: $theme-item-padding;

        border-width: $theme-item-border-width;
        border-style: solid;
        border-color: transparent;
        border-radius: $theme-item-border-radius;

        .x-color-picker-item-inner {
            height: $theme-item-height;
            width: $theme-app-item-width;
            display: block;

            border-style: solid;
            border-color: transparent;
            border-radius: $theme-item-border-radius;
        }

        &.x-color-picker-selected {
            border-color: $theme-selected-color;
        }

        &:hover {
            border-color: $theme-hover-color;
            background-color: transparent;
        }
    }
}

.x-theme-picker {

    .x-theme-picker-item-container {
        height: $theme-item-height + $theme-item-padding * 2 + $theme-item-border-width * 2;

        .x-theme-picker-item-label {
            display: inline-block;
            float: left;
            padding: 5px 0 0 24px;

            height: $theme-item-height + $theme-item-padding * 2 + $theme-item-border-width * 2;
        }

        .x-theme-picker-item {
            box-sizing: content-box;
            display: inline-block;
            float: left;

            height: $theme-item-height;
            background-color: transparent;
            cursor: pointer;
            padding: $theme-item-padding;

            border-width: $theme-item-border-width;
            border-style: solid;
            border-color: transparent;
            border-radius: $theme-item-border-radius;

            &.x-theme-picker-selected {
                border-color: $theme-selected-color;
            }

            &:hover {
                border-color: $theme-hover-color;
            }

            .x-theme-picker-item-inner {
                width: $theme-item-width / 2;
                height: $theme-item-height;
                display: inline-block;

                &:first-child {
                    border-radius:  $theme-item-border-radius 0 0 $theme-item-border-radius;
                }

                &:last-child {
                    border-radius: 0 $theme-item-border-radius $theme-item-border-radius 0;
                }
            }

            &.theme-corp {
                .x-theme-picker-item-inner{

                    &:last-child {
                        border-width: 1px;
                        border-style: solid;
                        border-color: #E0E0E0;
                    }
                }
            }
        }
    }
}