.subscription_hint {
    font-size: 11px;
    color: $gray;
}

.avangate-subscription-panel {
    .loader {
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px;
        background-size: 100%;
        background-image: url($img_dir + '/grid/loading.gif');
    }
}

.light-fieldset {
    background-color: $white;
    border: 1px solid $grayLighter;
}

.smtp-gate-panel {
    .x-panel-body {
        background-color: $white;
    }
    .gate-deafult-from {
        color: $smoke;
        padding-left: 5px;
    }
    .gate_hint {
        padding-left: 30px;
        font-size: 12px;
        line-height: 15px;
        max-width: 500px;
        margin-top: 5px;
        a {
            color: $main-color;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

.x-boundlist-item-disabled {
    padding: 0 6px;
    line-height: 22px;
    cursor: default;
    position: relative;
    zoom: 1;
    border-width: 1px;
    border-style: dotted;
    border-color: white;
    color: $grayLight;

    .warning {
        color: $invalid-color;
        margin-left: 10px;
    }
}

.x-boundlist-item.hidden {
    display: none;
}

.map-type-checkbox {
    &.x-item-disabled {
        opacity: 1;

        input {
            opacity: 0.4;
        }
        label {
            color: $grayer;

            span {
                opacity: 1;
            }
        }
    }

    .checkbox-invalid-tip {
        color: $orange
    }
}

.free_days_device_limit.x-item-disabled {
    input::-webkit-input-placeholder {
        color: #333;
    }
    input::-moz-placeholder {
        color: #333;
    }
    /* Firefox 19+ */
    input:-moz-placeholder {
        color: #333;
    }
    /* Firefox 18- */
    input:-ms-input-placeholder {
        color: #333;
    }
}

.slidable-panel {
    background-color: $baseElementActiveColor;
    position: fixed;
    z-index: 101;
    bottom: 0;
    right: 0;
    &.right {
        right: 0;
    }
    &.left {
        right: auto;
        left: 0;
    }

    color: $baseElementActiveColor;
    @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23));

    &.activation-panel {
        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    }
}

.tracker-settings-window {
    iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
}

.message-box-with-alert {
    font: normal 14px "Open Sans", helvetica, arial, verdana, sans-serif;
    color: white;

    .x-toolbar-footer {
        padding: 5px 0 15px !important;
    }

    .message-box {
        overflow: hidden;
        margin-bottom: 30px;
        font: normal 14px "Open Sans", helvetica, arial, verdana, sans-serif;
        color: white;

        .x-message-box-warning {
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            width: 30px;
            height: 30px;
        }

        .x-message-warning {
            text-align: center;
            margin-left: 30px;
        }
    }

    .x-form-item, .x-form-field {
        font-size: 14px;

        .x-form-cb {
            margin-top: 2px;
        }

        .x-form-cb-label, .x-form-cb-wrap {
            line-height: 20px;
        }
    }
}

.mobile-color-picker-button {
    width: 80px;
    height: 40px;
    border-radius: 3px;
    margin: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mobile-color-picker-button__active-icon {
    width: 18px;
    height: 18px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAqUlEQVR4AZTSIRKBQRjH4S8YlYbOPb6oKHALjeYA7oEZquZA3GGTx5g32Fkb+OUnvLP/bf5OX2ttrdWvg6GzvItBSSbuyu4mORl5qPUw+qCT764WkmMT6XlWSMdU8tQLNFd2EwRWgTZIZq4I0hUENoG2SFodNyVhG2iJYF37grDMDg/WNAV5Hx45iJKdJO/wy2Pm0xhXZxmX6w1c6gPXvspruUAISiqkAgBpUGp1d7jYpgAAAABJRU5ErkJggg==')
}
.mobile-color-picker-button:hover {
    box-shadow: 0px 0px 2px 2px #ccc;
}

.theme-image-monitor {
    position: static !important;
}

.theme-image-monitor__content {
    left: 55px !important;
    top: 23px !important;
}

.theme-image-iphone {
    position: static !important;
    margin-left: 18px !important;
    display: inline-block;
}

.theme-image-iphone__object {
    height: 399px;
}

.theme-image-iphone__object .theme-color {
    fill: #ccc !important;
}
