$searcherTriggerIconSize: 12px;

.search-field.x-field-toolbar-trigger {
    //background-color: red;
    .x-form-trigger-wrap {
        border-color: $baseBackgroundColor;
    }
    .x-form-text {
        background-color: $baseBackgroundColor;
    }
    .x-form-trigger {
        background-color: $baseBackgroundColor;
    }
    .x-form-trigger-wrap-focus {

        .x-form-trigger-wrap {
            border-color: $main-color;
        }
        .x-form-trigger.search {
            background-color: transparent;
        }
        .x-form-text {
            background-color: #ffffff !important;
        }
    }
}

.searcher, .search-field {

    .clear, .search {
        font-size: $searcherTriggerIconSize;
        line-height: $searcherTriggerIconSize + 14;
        color: $grayLighter;
        background: none;
        height: $searcherTriggerIconSize + 14;
        text-align: center;
    }

    .clear {
        @extend .icon-close;
    }

    .search {
        padding: 0 !important;
        color: $baseElementActiveColor !important;
        @extend .icon-search;
    }

    .search:hover {
        color: $baseFontColor !important;
    }

    .x-form-trigger-wrap-focus {
        .x-form-trigger.clear {
            background-color: $blue;
            color: $white;
        }
        .x-form-trigger.search {
            background-color: transparent;
        }
    }

    .x-form-trigger-input-cell {
        overflow: hidden;
    }

    &.dark {
        .x-form-text {
            @extend .base-color-bg;
            color: $white;
        }

        .x-form-trigger-wrap-focus {
            .x-form-trigger-wrap {
                @extend .main-color-border-color;
            }

            .x-form-trigger.clear {
                color: $white;
                @extend .main-color-bg;
            }
        }

        .x-form-trigger-wrap {
            border-color: lighten($baseElementColor, 10%);
        }

        .x-form-trigger-wrap .x-form-trigger {
            height: 16px;
            @extend .base-color-bg;
            color: $baseElementColor;
        }
    }

    &.small {
        .clear {
            line-height: $searcherTriggerIconSize + 12;
            height: $searcherTriggerIconSize + 12;
        }

        .search {
            line-height: $searcherTriggerIconSize + 12;
            height: $searcherTriggerIconSize + 12;
        }

        .x-form-text {
            height: $searcherTriggerIconSize + 12;
        }
    }
}
