$users-create-block-header-font-size: 15px;

.x-panel-body-light {

    .block_header {
        color: $light-panel-text-color;
        font-size: $users-create-block-header-font-size;
        @extend .x-panel-header-text-container-light;
    }
}