$users-create-block-header-font-size: 15px;

.x-panel-body-light {

    .block_header {
        color: $light-panel-text-color;
        font-size: $users-create-block-header-font-size + 1;
        @extend .x-panel-header-text-container-light;

        .desc {
            color: $grayLight;
            font-size: $users-create-block-header-font-size - 3;
        }
    }

    .block_hint {
        color: $light-panel-text-color;
        font-size: $users-create-block-header-font-size - 2;
        @extend .x-panel-header-text-container-light;

        .desc {
            color: $grayLight;
            font-size: $users-create-block-header-font-size - 3;
        }
    }

    .block_sup {
        @extend .x-panel-header-text-container-light;
        color: $grayLight;
        font-size: $users-create-block-header-font-size - 3;
        text-align: right;
    }
}

.download-menu {
    .x-menu-item {
        padding-top: 3px !important;
        padding-bottom: 0 !important;
    }
    .x-menu-item-icon {
        display: none;
    }
}

.x-grid-row-summary {

    .total-cell {
        overflow: visible;

        .x-grid-cell-inner {
            position: relative;
            overflow: visible;

            .total-description {
                position: absolute;
                top: 0;
                left: -160px;
                width: 160px;
                height: 100%;
                padding: 5px 9px;
            }

            .total {
                font-weight: bold;
                margin: 5px 0 7px;
            }
        }
    }
}