$users-create-block-header-font-size: 15px;

.x-panel-body-light {

    .block_header {
        color: $light-panel-text-color;
        font-size: $users-create-block-header-font-size + 1;
        @extend .x-panel-header-text-container-light;

        .desc {
            color: $grayLight;
            font-size: $users-create-block-header-font-size - 3;
        }
    }

    .block_hint {
        color: $light-panel-text-color;
        font-size: $users-create-block-header-font-size - 2;
        @extend .x-panel-header-text-container-light;

        .desc {
            color: $grayLight;
            font-size: $users-create-block-header-font-size - 3;
        }
    }

    .block_sup {
        @extend .x-panel-header-text-container-light;
        color: $grayLight;
        font-size: $users-create-block-header-font-size - 3;
        text-align: right;
    }
}