$dealer-info-font-size: 16px;
$dealer-info-font-color: $baseFontColor;

.maintenance_warning {
  margin: 0 auto 30px;
  background-color: #1e96dc;
  font-size: 16px;
  font-weight: 400;
  color: $white;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  
  a {
    color: $white;
    font-weight: bold;
    text-decoration: underline;
  }
}

.main-header {

  .header-logo {
    background-image: url($img_dir + '/navixy-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .dealer-info {
    font-size: $dealer-info-font-size;
    color: $dealer-info-font-color;

    &__inner {
      padding-left: 24px;
      padding-top: 22px;
      line-height: 16px
    }

    &__inner--with-stat {
      padding-top: 9px;
    }

    .devices-info {
      font-size: $dealer-info-font-size - 4;
      color: lighten($dealer-info-font-color, 25%);

      &--subpaas-stat {
        padding-left: 6px;
      }
    }
  }

  .dealer-warnings {
    font-size: $dealer-info-font-size;
    color: $invalid-color;

    div {
      span {
        @extend .icon-coin;
        margin-right: 10px;
      }
    }
  }
}
